body {
  color: "hello world";
  height: 5.166666666666667;
  height: 5px;
  height: 6px;
  width: 0.6666666666666666;
  width: 0;
  width: 1;
  width: 3px;
  color: rgbahex(#112233);
  color: rgbahex(rgba(44, 55, 66, 0.6));
  color: #992c3742;
}
format {
  format: "rgb(32, 128, 64)";
  format-string: "hello world";
  format-multiple: "hello earth 2";
  format-url-encode: "red is %23ff0000";
  eformat: rgb(32, 128, 64);
}
#functions {
  str: true;
  str: false;
  num: true;
  num: false;
  col: false;
  col: true;
  key: true;
  key: false;
  px: true;
  px: false;
  per: true;
  per: false;
  em: true;
  em: false;
}
