.gdmradio-section {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.gdmradio-section-title {
  position: relative;
  text-align: right;
  font-size: 30px;
}
.gdmradio-section-title-float {
  position: absolute;
  right: 5px;
  font-size: 30px;
  font-weight: bold;
}
.gdmradio-split {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
}
.gdmradio-split-left {
  position: relative;
  flex: 0.5;
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 5px;
}
.gdmradio-split-right {
  position: relative;
  flex: 0.5;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}
